<div class="col-md-4">
<div class="card pi-slave">
    <div class="card-header">
        <span class="card-title">{{name}}</span>
    </div>
    <div class="card-body">
        <i>{{ip}}</i>
        <p></p>

        <div class="btn-toolbar btn-grid float-right" role="toolbar" aria-label="Pi Toolbar">            
            <button href="#" role="button" class="btn btn-danger">
                <span class="fa fa-power-off"></span>
            </button>
            <button href="#" role="button" class="btn btn-danger">
                <span class="fa fa-redo-alt"></span>
            </button>
        </div>
    </div>
    <div class="card-footer">
        Stats to come
    </div>
</div>
</div>